.img-fortuna{
    width: 5%;
    height: 20px;
}

#container{
    height: auto;
    background-color: #FFDB89;
    width: 85%;
    padding: 20px 10px;
    border-radius: var(--border-btn);

    .p-name{
        font-size: 12px;
    }

    .p-phrase{
        font-size: 10px;
    }
}

.container-phrases{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.hidden-element{
    display: none;
}

.back_arrow {
    display: none; 
    cursor: pointer;
    margin-bottom: 10px;
    width: 25px;
  }

.display-block{
    display: block;
}