:root {
  --cream-light: #fff6c3;
  --cream: #ffdb89;
  --red-strong: #850000;
  --red-light: #dc0000;
  --border-btn: 10px;
  --font-bold: bold;
  --font-family: "Poetsen One";
}
h2,
p {
  font-family: var(--font-family);
}

.main_container {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

.cat-head,
.cat-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cat-head img,
.cat-footer img {
  width: 50%;
}

.cat-main {
  height: auto;
  background-color: var(--cream);
  padding: 20px 0 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 20px 10px;
  border-radius: var(--border-btn);
  input {
    width: 60%;
    height: 16px;
    padding: 10px;
    border: 2px solid var(--red-strong);
    border-radius: var(--border-btn);
  }
  #button_names {
    width: 30%;
    height: 40px;
    padding: 10px;
    background-color: var(--red-strong);
    border: 2px solid var(--cream-light);
    border-radius: var(--border-btn);
    font-weight: bold;
    color: var(--cream-light);
  }
  h2 {
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
  }
  ul {
    padding: 0;
    width: 85%;
    li {
      list-style-type: none;
      padding: 3px 0;
      margin: 0;
      font-weight: var(--font-bold);
      display: flex;

      span {
        width: 40%;
        font-family: "Poetsen One";
      }
    }
  }
}
.btn-edit {
  background-image: url("../images/icon-edit.png");
}
.btn {
  background-image: url("../images/icon-trash.svg");
}
.btn,
.btn-edit {
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border: #fff;
  width: 30px;
  height: 30px;
  background-color: var(--cream);
}

.buttons-lucky {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.swal-text,
.swal-title {
  font-family: var(--font-family);
}
.swal-modal {
  background-color: var(--cream);
  border: 2px solid white;
  border-radius: 5px;
  width: 70%;
}
.swal-button {
  height: 40px;
  padding: 10px;
  background-color: var(--red-strong);
  border: 2px solid var(--cream-light);
  border-radius: var(--border-btn);
  font-weight: bold;
  color: var(--cream-light);
}
