#container {
  height: auto;
  background-color: #ffdb89;
  width: 85%;
  padding: 20px 10px;
  border-radius: var(--border-btn);

  .p-name {
    font-size: 12px;
  }
  .name-container {
    flex: 1;
  }

  .container-phrases {
    display: flex;
    .phrase-container {
      display: flex;
      gap: 2%;
      align-items: center;
      width: 75%;

      .img-fortuna {
        width: 7%;
      }
      .p-phrase {
        font-size: 10px;
      }
    }
  }
}

.hidden-element {
  display: none;
}

.back_arrow {
  display: none;
  cursor: pointer;
  margin-left: 30px;
  width: 50%;
  img {
    width: 18%;
  }
}

.display-block {
  display: block;
}
